.pagination-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin-top: 40px;
}
.pagination-container .pagination-item{
    width: 40px;
    height: 32.78px;
    background: #e4cbff;
    border-radius: 8px;
    cursor: pointer;
    float: left;
    text-decoration: none;
    margin-left: 9px;
    color: #2f80ed ;
    border: none;
    text-align: center;
    justify-content: center;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

.pagination-item:hover{
    color: #e4cbff;
    background: #2f80ed;
}
.pagination-item.dots:hover{
    background-color: transparent;
    cursor: default;
}
.pagination-item:first-child{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 0px;
}
.pagination-item:last-child{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-left: 0px;
}
.pagination-item.selected{
    color: #e4cbff;
    background: #2f80ed;
}
.pagination-item .arrow::before{
    position: relative;
          /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
          content: '';
          /* By using an em scale, the arrows will size with the font */
          display: inline-block;
          width: 0.4em;
          height: 0.4em;
          border-right: 0.12em solid rgba(0, 0, 0, 0.87);
          border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.arrow.left{
    margin-bottom: 10px;
    transform: rotate(-135deg) translate(-50%);
}
.arrow.right{
    margin-left: 0px;
    margin-bottom: 5px;
    transform: rotate(45deg);
}
.pagination-item.disabled{
    pointer-events: none;
}
.pagination-item.disabled .arrow:before{
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-item.disabled:hover{
    background-color: transparent;
    cursor: default;
}