.single{
    display: flex;
    max-width: 1400px;
    margin-top: 60px;
    margin-left: 65px;
    margin-bottom: 30px;
}
.single h2{
    margin-bottom: 20px;
    font-size: 28px;
}
.single p.description{
    margin-bottom: 20px;
    font-weight: bold;
}
.single p.date{
    display: flex;
    margin-bottom: 20px;
    color: gray;
}