.register {
  /* height: calc(100vh - 50px); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  max-width: 270px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.registerForm p {
  text-align: center;
}
.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.login-btn{
  margin-top: 0px;
  display: inline-flex;
  flex-direction: column;
}
.login-btn > p{
  
  display: block;
  margin: 10px 0;
}

.login-btn .login-Button{
  margin-top: 0px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a p.link-home{
  text-align: center;
  margin-top: 10px;
}
a:hover p.link-home{
  color: blue;
}