.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.loader 
{
    margin-top: 50px;
    border: 10px solid #f3f3f3;
    border-radius: 100%;
    border-top: 10px solid #8736cb;
    border-bottom: 10px solid #8736cb;
    border-right: 10px solid #8736cb;
    width: 120px !important;
    height: 120px !important;
    -webkit-animation: spin 1s linear infinite; 
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin 
{
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
}
    
@keyframes spin 
{
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
}
   