    .footer-section{
        background-color: #2f80ed;
        width: 100%;
        color: #ffffff;
    }
    .footer-wrap{
        padding: 40px 0 0 0;
        display: flex;
        justify-content: center;
    }
    .footer-logo{
        display: flex;
        flex-direction: column;
        max-height: 300px;
    }
    .footer-logo img.main-logo{
        margin-bottom: 20px;
        cursor: pointer;
    }
    .footer-social{
        display: flex;
    }
    .footer-social li{
        margin: 5px 15px;
        margin-top: 10px;
    }
    .footer-social li:first-child{
        margin-left: 0px;
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
    }
    .footer-contact li{
        margin: 10px 0px;
    }
    .footer-contact li:first-child{
        margin-top: 20px;
    }
    .footer-contact li.contact a{
        font-size: 20px;
        color: #ffffff;
    }
    .footer-contact li.contact a:hover{
        color: #3e3e3e;
    }
    li.contact a svg{
        margin-right: 10px;
    }
   
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .footer-home{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    padding: 0 30px;
    border-left: 1px dashed;
    margin-right: 20px;
    border-right: 1px dashed;
    }
    p.footer-title{
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    ul.footer-title{
        margin-top: 25px;
    }
    .footer-title.topic li{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .footer-title.topic span:hover{
        color: #3e3e3e;
    }
    .footer-title.topic li svg path{
        fill: #ffffff;
    }
    .footer-title.topic li:first-child{
        margin-top: 0px;
    }
    .footer-title.topic span{
        font-size: 20px;
        margin-left: 10px;
        color: #ffffff;
    }
    .footer-about{
        max-width: 400px;
        padding: 0 30px 0 20px;
    margin-right: 30px;
    border-right: 1px dashed;
    }
    .footer-about .about-content p {
        margin-top: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    .copyright{
        padding: 20px 0;
        text-align: center;
    }