
html,body {
    min-height: 100vh;
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:100%;
}
.app{
    min-height: 100vh;
}
ul.list-news.gaBoxLinkDisplay{
    display: none;
}
div.width_common.box-tinlienquanv2{
    display: none;
}
figure.item_slide_show.clearfix{
    display: none;
}
p.author_mail strong{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.ck-editor__editable {
    min-height: 200px;
}
/* div.fig-picture{
    display: none;
} */