.home {
  display: flex;
  justify-content: center;
  /* max-width: 1500px; */
  
}
.home-wrap{
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
.home-content{
  margin: 0 0 0 20px;
}
